.solver-page {
    .sp-circle {
        border: 4px rgba(#fff,0.25) solid;
        border-top: 4px rgba(#fff,1) solid;
        margin: auto;
    } 
    .sp {
        width: 100px;
        height: 100px;
    }    
}