.solver-page {
    .sp-circle {
        border: 4px rgba(#fff,0.25) solid;
        border-top: 4px rgba(#fff,1) solid;
    } 
    .sp {
        width: 100px;
        height: 100px;
    } 
    h1 {
        color: #fff;
        font-size: 20px;
    }
}