.main-page{
    button{
        background: white;
        height: 60px;
        width: 200px;
        border-radius: 0.3rem;
        margin-top: 30px;
        cursor: pointer;
        &:not(:last-child){
            margin-right: 30px;
        }
        font-size: 18px;
        &:focus{
            border-color: #4c575c;
            outline: none;
            box-shadow: 0 0 0 3px #4c575c;
        }
    }   
    .input-holder button {
        margin-top: 0;
    }
    h1{
        color: white;
    }
    // main
    .main{
        img{
            display: block;
            margin-bottom: 80px;
        }
    }
    // username
    .input-holder{
        font-family: 16px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: .5em;
    }    
    .input-holder input{
        padding: .5rem;
        font-size: 1rem;
        font-weight: 400;
        border-radius: .3rem;
        border: 1px solid #e0e0e0;
        box-shadow: inset 1px 1px 1px #e0e0e080;
        color: #4c575c;
        transition: all .25s ease 0s;
        height: 40px;
        width: 250px;
    }    
    .input-holder input:focus{
        border-color: #409eff;
        outline: none;
        box-shadow: inset 1px 1px 1px #e0e0e080, 0 0 0 3px #409eff80;
    }
    // roles
    .roles{
        div{
            display: flex;
            justify-content: center;
            label{
                display: flex;
                align-items: center;
                margin-bottom: 20px;
                &:not(:last-child){
                    margin-right: 60px;
                }                
                span{
                    color: white;
                    font-size: 20px;
                    margin-left: 10px;
                }
            }
            input{
                width: 20px;
                height: 20px;
                filter: invert(100%) hue-rotate(-30deg) brightness(7.7);
            }
        }
        
    }
}

@media (max-width: 800px) {
    .main-page{
        button{
            &:first-child{
                margin-right: 0;
                margin-bottom: 20px;
            }
        }
        .input-holder{
            display: block;
            input{
                margin-bottom: 20px;
            }
        }
        .roles{
            display: block;
        }  
        .main{
            img{
                width: 300px;
                margin-bottom: 30px;
            }
        }      
        h1{
            font-size: 20px;
        }
    }

}