.scene{
  width: 300px;
  height: 300px;
  perspective: 300px;
  transform-origin: center;  
}
.cube{
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transform: translateZ(-100px);
  transform-origin: center center;
  transition: .3s;
  display: flex;
  justify-content: center;
  align-items: center;
}
.side{
  position: absolute;
  width: 200px;
  height: 200px;
  background: white;
  display: grid;
  justify-content: center;
  align-items: center;
  border: 3px solid black;
  border-radius: 10px;
  img{
    height: 80px;
  }
  p{
    margin: 0;
  }
  .shape{
      background-color: black;
      height: 70px;
      width: 70px;
    &.Sphere{
      border-radius:50%;
    } 
    &.Cylinder {
      border-radius: 100% / 30%;
    }
    &.Torus {
      border: 10px solid;
      border-radius: 50%;
      background: white !important;
    }
  }
}
.front  { transform: rotateY(  0deg) translateZ(100px);}
.right  { transform: rotateY( 90deg) translateZ(100px);}
.back   { transform: rotateY(180deg) translateZ(100px);}
.left   { transform: rotateY(-90deg) translateZ(100px);}
.top    { transform: rotateX( 90deg) translateZ(100px);}
.bottom { transform: rotateX(-90deg) translateZ(100px);}
