.leaderboard-page{        
    h2{
        font-size: 30px;
        color: #fff;
        text-transform: uppercase;
        font-weight: 300;
        text-align: center;
        margin-bottom: 15px;
    }
    table{
        width:100%;
        table-layout: fixed;
    }
    .tbl-header{
        background-color: rgba(255,255,255,0.3);
    }
    .tbl-content{
        overflow-y:auto;
        margin-top: 0px;
        border: 1px solid rgba(255,255,255,0.3);
        height: 168px;
        margin-bottom: 45px;
    }
    th{
        padding: 20px 15px;
        text-align: left;
        font-weight: 500;
        font-size: 12px;
        color: #fff;
        text-transform: uppercase;
    }
    td{
        padding: 15px;
        text-align: left;
        vertical-align:middle;
        font-weight: 300;
        font-size: 12px;
        color: #fff;
        border-bottom: solid 1px rgba(255,255,255,0.1);
        p{
            margin: 0;
        }
    }  
    .sp-circle {
        border: 4px rgba(#fff,0.25) solid;
        border-top: 4px rgba(#fff,1) solid;
        margin: auto;
        margin-top: 140px;
    }  
    /* for custom scrollbar for webkit browser*/    
    ::-webkit-scrollbar {
        width: 6px;
    } 
    ::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    } 
    ::-webkit-scrollbar-thumb {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    }
}

@media (max-width: 800px) {
    .leaderboard-page{  
        width: 300px;
    }
}